
.Externo {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    object-fit: contain;
}

.PrincipalContenedor {
    display: flex;
    position: flex;
    overflow: hidden;
}

.PrincipalImagen {
    display: flex;
    position: flex;
    justify-content: "center";
    align-items: "center"
}


.descriptionCard
{
    position: relative;
    background-color: #F54746; 
    width: auto;
    margin-left: -10rem;
    height: 41rem;
    border-radius: 83px;
    margin-top: 10rem;
    z-index: 1;
}

/* 
.principalImage{
    background-color: #FFA800; 
    position: flex;
    width: 20rem;
    height: 40rem;
    margin-top: 8rem;
    border-radius: 100px;
    background: #FFA800;
}

.firstImage
{
    position: relative;
    width: 35rem;
    height: 55rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
}

.manyDishes {
    position: relative;
    width: 35rem;
    height: 10rem;
    margin-bottom: 7rem;
    margin-right: 30rem;
  }

  .secondImage
{
    position: relative;
    width: 35rem;
    height: 55rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
}


.imageCard {
    position: absolute;
    margin-left: 90rem;
    background-color: #FFA800; 
    width: 700px;
    top: 110px;
    height: 750px;
    border-radius: 83px;
    transform: translateX(-50%);
    z-index: 2;
  }

.eatHereLogo
{
    position: flex;
    width: 20rem;
    height: 15rem;
    margin-top: 2rem;
    margin-right: 40rem;
}

.principalText{
    position: relative;
    border-radius: 83px;
    margin-top: 2rem;
    color: white;
    padding-left: 1rem;
    padding-right: 34rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    text-align: justify;
    width: 1150px;
} */